.catalogue {
  &-item {
    color: $default-color;
    display: block;
    padding: 1rem;
    border-radius: 1rem;
    transition: background-color .3s ease;

    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 5rem;
    }

    &:last-child {
      border: 0;
    }
  }

  &-item:hover {
    background-color: #eeeeee;
  }

  &-time {
    color: $default-tint;
    font-family: $sans-serif;
    letter-spacing: .3px;
  }

  &-title {
    color: $default-shade;
    display: block;
    font-family: $sans-serif;
    font-size: 1.8rem;
    font-weight: 700;
    margin: .3rem 0;
  }

  &-line {
    @include transition(all .3s ease-out);
    border-top: .2rem solid $default-shade;
    display: block;
    width: 2rem;
  }
}
